@import "../../style/variables";




nav{
  position: absolute;
  top: 10px;
  //background-color: #fff;
  border-radius: 20px;
  z-index: 20;

  ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px 10px;
    a{
      position: relative;
      text-decoration: none;
      color: #fff;
      font-family: "Poppins", "sans-serif";
      font-weight: 400;
      border-bottom: 0 solid transparent;
      &::after{
        content: "";
        background-color: #fff;
        height: 2px;
        border-radius: 5px;

        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;

        transition: transform 0.3s ease-out;
        transform-origin: center center;
        transform:  scaleX(0);
      }
      &:hover{
        &::after{
          transform:  scaleX(1);
        }
      }
    }
    li{
      padding: 0;
      margin: 0 20px;
      cursor: pointer;
    }
  }
}