@import '../../style/variables.scss';

.experiences-dot{
  color: $primary-color;
  font-size: 2rem;
}

.button-more{
  width: 130px;
  margin: 0 auto;
}

.timeline{
  font-family: "Poppins", "sans-serif";
}