header{
  width: 100vw;
  display: flex;
  //max-height: 800px;
  justify-content: center;
}
.background-top{
  max-height: 120px;
  width: 100%;
  //position: absolute;
  //top: 0;
  z-index: -1;
  overflow: hidden;
  //position: absolute;
  /*display: flex;
  justify-content: center;*/
  @media screen and (max-width: 500px){
    max-height: 120px;
  }
  img{
    width: 1800px;
    height: 400px;
  }
}