header {
  //width: 100vw;
  // display: flex;
  // justify-content: center;
}

.header-logo {
  position: absolute;
  left: 5%;
  top: 0;
  height: 60px;
}
.header {
  &__logo {
    position: absolute;
    left: 5%;
    top: 0;
    height: 60px;
  }
  &__menu {
    width: 100%;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 740px) {
      display: none;
    }
    &--mobile {
      display: none;

      @media screen and (max-width: 740px) {
        display: block;
      }
    }
  }
}

.background-top {
  max-height: 120px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  @media screen and (max-width: 500px) {
    max-height: 120px;
  }
  img {
    width: 100vw;
    height: 400px;
    @media screen and (max-width: 800px) {
      width: 1800px;
    }
  }
}
