@import "../../style/variables";

.projects-page {
  // padding: 0 calc(10px + 8vmin);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__picture {
    max-height: 500px;
    width: 100%;
    margin-top: 50px;
  }
}
.project {
  font-family: "Poppins", "sans-serif";
  &__title {
    display: flex;
    align-items: center;
  }
  &__informations {
    display: flex;
    justify-content: space-between;
    &-details,
    &-technos {
      background-color: $primary-color;
      min-height: 400px;
      border-radius: 5px;
      padding: 0 20px;
      color: #fff;
    }
    &-details {
      width: 68%;
    }
    &-technos {
      width: 20%;
    }
  }
}

.technos {
  display: flex;
  flex-direction: column;
  &__techno {
    display: flex;
    align-items: center;
    &--picture {
      display: flex;
      justify-content: center;
      height: 30px;
      width: 30px;
      margin-right: 20px;
      img {
        max-width: 100%;
      }
    }
  }
}

.details__row {
  display: flex;
  &--title {
    width: 30%;
  }
  &--content {
    width: 60%;
  }
}

.timeline {
  &__date,
  &__job-name,
  &__contract-type,
  &__content {
    font-family: "Poppins";
  }
  &__date {
    margin: 0;
    font-weight: 600;
    color: $primary-color;
  }
  &__job-name {
    font-weight: 600;
    color: $primary-color;
  }
  &__contract-type {
    font-weight: 200;
    text-decoration: underline;
  }
  &__content {
    font-weight: 200;
  }
}

.projects-picture {
  max-height: 500px;
}
