@import "../../style/variables";

footer{
  display: flex;
  max-width: 100%;
  height: 200px;
  flex-direction: column;
  align-content: center;
  margin-top: 250px;
  justify-content: space-between;
  font-family: "Poppins","sans-serif";

  p{
    text-align: center;
    color: #fff;
  }
  @media screen and (min-width: 1500px){
    margin-top: 450px;
  }
  img{
    width: 2000px;
  }
}

.footer{
  &-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__social a{
      margin: 0 10px;
    }
  }
}

.background-bottom{
  min-height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  display: flex;
}