@import "../../style/variables";

footer {
  color: #fff;
  background-color: $primary-color;
  display: flex;
  max-width: 100%;
  min-height: 200px;
  flex-direction: column;
  align-content: center;
  margin-top: 100px;
  justify-content: space-between;
  font-family: "Poppins", "sans-serif";

  .curriculum-container {
    background-color: darken($primary-color, $amount: 9);
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;
    margin: 20px 0;
    @media screen and (max-width: 780px) {
      flex-direction: column;
      padding: 20px;
    }
    h2 {
      color: #fff;
      font-size: 1.6rem;
      margin: 5px 0;
    }
  }

  p {
    //text-align: center;
    color: #fff;
  }
  @media screen and (min-width: 1500px) {
    margin-top: 100px;
  }
  img {
    width: 2000px;
  }
}

.footer {
  &-links {
    margin: 20px 0;
    display: flex;
    //align-items: center;
    justify-content: space-between;
    h4,
    h5 {
      font-size: 1.1rem;
      font-weight: 600;
    }
    h4 {
      margin-top: 0;
    }
    &__social a {
      margin: 0 10px;
    }
  }
  &-link {
    &__infos {
      text-align: left;
      * {
        margin: 0 0 5px 0;
      }

      margin-bottom: 10px;
    }
    &__social {
      text-align: right;
      margin-top: 4rem;
      &--link {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.copyright {
  margin-top: 10px;
  font-size: 0.8rem;
}

.background-bottom {
  min-height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  display: flex;
}

.footer-logo {
  height: 3.4rem;
  width: 2.6rem;
}
