@import "../../style/variables";

.skills-page {
  padding: 0 calc(10px + 8vmin);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  // text-align: center;
}

.skills {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  &__sections {
    width: 30%;
    border-radius: 5px;
    background-color: lighten($primary-color, 10);
    text-align: center;
    @media screen and (max-width: 700px) {
      width: 80%;
    }

    &--picture {
      max-height: 80px;
      //   margin-left: auto;
      //   margin-right: auto;
    }
  }
  &__picture {
    max-height: 500px;
  }
  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
